@model Invest.MVC.Investment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Investments</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Investor.Name)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock.Currency)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.InvestmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
