@model IEnumerable<Invest.MVC.InvestmentHistory>

@{
    ViewData["Title"] = "Portefeuille";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Investisseur
            </th>
            <th>
                Action (symbol)
            </th>
            <th>
                Part
            </th>
            <th>
                Valeur
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Investor.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Name) (@Html.DisplayFor(modelItem => item.Stock.Symbol))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td class="">
                @((item.Value * item.Quantity * item.ExchangeRate).ToString("C2"))
            </td>
        </tr>
}
    </tbody>
</table>
